#projects{
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
}

#projects b{
    margin-bottom: .2rem;
    font-size: .8rem;
}

#projects p{
    text-align: center;
    text-wrap: balance;
    padding: 1.5rem;
}

.projectTitle{
    color: var(--violet);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}
